# Rename this file to terraform.tfvars afte substituting the values

prefix = "jenkins"

location = "eastus"


#jenkins Variables

jenkins_inbound_ports = ["22"]
jenkins_vm_size       = "Standard_B2s"

#Database Variables
web_inbound_ports = ["80"]
web_vm_size       = "Standard_B1s"
web_node_count    = 2



#Database Variables
db_inbound_ports = ["3306"]
db_vm_size       = "Standard_B1s"
db_node_count    = 2

#Windows VM
win_node_count = 1
win_vm_size = "Standard_B1s"
win_inbound_ports = ["3389", "80", "443"]
password = "@x"


#common VM variables
username                 = "    "
destination_ssh_key_path = "/home/adminuser/.ssh/authorized_keys"

application_port = "80"

